	

nav{
	background-color: #0D47A1;
}

a.navbar-brand{
	color: white;
}

.navbar-nav>li>a{
	color: white;
}

.navbar-nav>li>a:hover{
	color: #0D47A1;
}

div#homepage{
	width: 100%;
	background: url("splash-background.jpg") no-repeat center center;
    background-size: cover;	
    margin-right: 0px;
    margin-left: 0px;
}


.jumbotron{
	margin-top: 100px;
	background: transparent;
	color: #0D47A1;
	text-align: center;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}
div#services{
	width: 105%;
	margin-top: 50px;
    margin-left: 0px;
}

div#container-search{
	background-color: #0D47A1;
	width: 100%;
    margin-left: -15px;
    background-size: cover;	
}
.col-sm-3{
	margin-top: 5px;
	margin-bottom: 5px;
}
	